
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family:"Poppins", sans-serif;
    margin: 0;
    
    
}

body{
    margin: 0;
    width: 100%;
    height: 120vh;
    background-image: url(blackk.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.title{
    left: 30%;
}
.slide{
    position: absolute;
    height: 100vh;
    width: 60%;
    position: relative;
    background-color: rgb(5, 5, 1);
    transition: 0.5s;
    transform: translate(-1000px);
}
h1{
    color: rgb(52, 196, 23);
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}
ul li{
    list-style: none;
}
ul li a{
    color: rgb(39, 214, 23);
    font-weight: 500;
    padding: 3px 0;
    display: block;
    text-decoration: none;
    transition: 0.5s ease-out;
}
ul li:hover a{
    background-color: rgb(10, 104, 15);
}
ul li a i{
    width: 40px;
    text-align: center;
}
input{
  display: none;
  visibility: hidden;
}
.toggle{
    position: absolute;
    height: 27px;
    width: 27px;
    margin-left: 22px;
    margin-top: 15%;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: rgb(28, 29, 4);
    box-shadow: 0 0 10px rgb(68, 67, 67);
}
.toggle .command{
    top: 50%;
    left: 15%;
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: rgb(7, 1, 1);
    border-radius: 50px;
    transition: 0.3s ease;
  
}
.toggle .topLine{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(38, 236, 12);
}
.toggle .middleLine{
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgb(60, 228, 18);
}
.toggle .LineDown{
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgb(35, 216, 18);    
}
input:checked ~ .toggle .topLine{
    top: 14px;
    left: 2px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked ~ .toggle .LineDown{
    top: 14px;
    left: 2px;
    width: 25px;
    transform: rotate(-45deg);
}
input:checked ~ .toggle .middleLine{
    opacity: 0;
}
input:checked ~ .slide{
    transform: translate(0);
}
#btn{
    position: relative;
    top: 59%;
    left: 40%;
    
}
#driverr{
    position: relative;
    background-color: rgb(25, 207, 25);
    color: rgb(14, 13, 13);
    padding: 10px 20px;
    border-radius: 10px;
    width: 70%;
    height: 95%;
    border: none;
    
}
#limitt{
    background-color: rgb(25, 207, 25);
    color: rgb(14, 13, 13);
    border-color: rgb(14, 13, 13);
    padding: 10px 20px;
    border-radius: 10px;
}
#mapcontainer{
    position: relative;
    height: 0;
    width: 100%;
}
iframe{
    position: relative;
    top: 120px;
    left: 20%;
    border-radius: 10px;
    
}

.searchh{
    position: absolute;
    top: 89%;
    left: 75%;
    z-index: 0;
    transform: translate(-50%, -50%);
    background-color: rgb(35, 212, 19);
    height: 35px;
    width: 350px;
    transition: 1s;
    border-radius: 40px;
    padding: 10px;
}

#driverr:hover{
    background-color: rgb(21, 216, 21);
    border-color: rgb(21, 216, 21);
    color: rgb(15, 15, 15);
    font-weight: 800;
    transition: 0.5s;
}
#limitt:hover{
    background-color: rgb(21, 216, 21);
    border-color: rgb(21, 216, 21);
    color: rgb(15, 15, 15);
    font-weight: 800;
    transition: 0.5s;
}
.search-txt{
    position: relative;
    top: 8px;
    z-index: 2;
    border: none;
    float: left;
    padding: 0%;
    background-color: rgb(0, 255, 0);
    color: rgb(34, 230, 17);
    width: 190px;
    height: 80px;
    font-size: medium;
}
.search-btn{
    color: rgb(32, 34, 33);
    top: 35px;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(35, 212, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}
.titlee{
    position: relative;
    top: 30px;
    right: 135px;
    font-size: 23px;
}