
body{
  background-image: url(yellow.jpg);
  background-position: center;
  background-attachment: fixed;
}
button{
    width: 70px;
    height: 40px;
    background-color: rgb(230, 182, 26);
    font-family: "bungee spice", "consolas";
    font-weight: bold;
    border-color: rgb(230, 182, 26);
    float: right;
}
h1{
    color: white;
    font-weight: bold;
    font-family: "bungee spice", "consolas";
}
h2{
  color:rgb(255, 255, 255);
  font-family: "bungee spice", "consolas";
}
P{
  background-color: rgb(230, 182, 26);
  font-family: "consolas" sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-style: outset;
  border-width: 5px;
  border-radius: 18px;
  border-color: rgba(224, 187, 20, 0.055);
  padding: 5px;
  background: linear-gradient(rgb(230, 182, 26),rgb(219, 198, 127));
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
#p1{
  color:red;
}
#p2{
  color:blue
}
#P3{
  color:chartreuse
}
a{
    background-color: black;
}

